.Book {
    border-radius: 5px;
    width: 70px;
    height: 400px;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    border:none;
}

.Text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    writing-mode: vertical-rl;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cont {
    width: 110px;
    height: 450px;
}

.Book:active, button:hover {
    transform: rotate("5deg");
}

.Book:hover, button:hover, .cont:hover {
    transform: rotate("5deg");
}

.Book {
  transition-property: transform, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
