.Book {
    border-radius: 5px;
    display: flex;
    width: 70px;
    height: 495px;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.Text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    writing-mode: vertical-rl;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cont {
    width: 110px;
}
