.LogoBook {
    width: 180px;
    margin-top: 100px;

}

.CenterBlockHorizontally {
    margin-left: auto;
    margin-right: auto;
}

.width80Perc {
    width: 80%;
}

.Photo {
    height: 148px;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: cover;
    opacity: 0.7;
    object-position: 50%;
    margin-top: 60px; 
}
.Title {
    background: none;
    border: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: inherit;
    margin-top: 30px;
}

.Plot {
    background: none;
    border: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: inherit;
    width: 100%;
}

.Author {
    background: none;
    border: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: inherit;
    margin:0;
}

.PlusMinusButton {
    background: none;
    border: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: inherit;
    margin:0;
    margin-left: 16px;
}
.InfoBlock {
    display: flex;
    margin-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Button {
    padding: 16px 60px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #FFB800;
    border: none;
    font-family: inherit;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Button:hover {
    background-color: #FCCD54; 
    transform: scale(1.05);
}

.Button:active {
    background-color: #72550C; 
    color: white;
    transform: scale(1.05);
}

.PlusMinusButton:hover {
    transform: scale(1.5);
}

.PlusMinusButton:active {
    transform: scale(1.5);
}

.Button, .PlusMinusButton, .Image, a {
  transition-property: transform, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Image:hover {
    transform: scale(1.1);
}